/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* custom css */

/* Fonts used
    Open Sans (w300 w400)
    Averia Serif Libre (w400 w700)

    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

:root {
  --cyan: #86DFE2;
  --skyblue: #DFF7FF;
  --orange: #FF7A00;
}

html,
body {
  height: 100%;
  background: var(--skyblue);
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.intro-wrap {
  font-family: 'Inter', sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
}

.greeting {
  margin: 0 0 1.6rem 0;
  font-weight: 300;
  font-size: 2rem;
}

.introduction {
  margin: 0 0 3.2rem 0;
  font-size: 3rem;
  font-weight: 400;
}

.introduction>strong {
  font-weight: 900;
}

.cta-btn {
  display: block;
  padding: 1.5rem 2.4rem;
  border-radius: 3rem;
  font-family: 'PT Serif';
  font-size: 22px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: white;
  background: #FF7A00;
}

.portrait-image {
  display: block;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

.section-title {
  margin: 0 0 3.2rem 0;
  font-family: 'Inter';
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
}

/* #region Contact section */

.container {
  margin: 0 auto;
  max-width: 800px;
}

.project-section,
.contact-section {
  margin: 0 2.4rem;
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.side-menu {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  display: none;
}

.side-menu menu,
.side-menu ul {
  margin: 0;
  padding: 0;
}

.side-menu ul {
  list-style: none;
  padding-top: 0.8rem;
  padding-left: 0.4rem;
}

.side-menu li {
  margin-bottom: 0.5rem;
}

.side-menu li:hover {
  cursor: pointer;
}

.side-menu li:hover::marker {
  content: "/  ";
  color: var(--orange)
}

.project-list {
  display: flex;
  flex-flow: column;
  margin-left: auto;
}

.project {
  margin-bottom: 6rem;
  align-self: flex-end;
  max-width: 540px;
}

.project-title {
  margin: 0 0 0.4rem 0;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
}

.project-description {
  margin: 0 0 1.6rem 0;
  font-family: 'PT Serif';
  font-size: 1.4rem;
  font-weight: 400;
}

.project-btns {
  margin: 0 0 1.6rem 0;
  display: flex;
}

.project-btn {
  display: inline-block;
  padding: 0.5rem 1.9rem;
  border-radius: 2rem;
  border: 1px solid black;
  
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.project-btn:nth-child(2) {
  margin-left: 1.4rem;
}

.live-btn {
  border-color: var(--orange);
  color: var(--orange);
}

.img-project {
  max-width: 100%;
}

.contact-section {
  margin-top: 120px;
}

.message-section,
.email-section {
  margin-bottom: 3.2rem;
}

.connect-section {
  padding-bottom: 3.2rem;
}

.subsection-title {
  font-family: 'Fira Sans';
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.user-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 1.2rem;
  position: relative;
  height: 4.5rem;
}

.input-container>input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 0;
  padding-left: 0.8rem;
  font-size: inherit;
  border: 0;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Open Sans', sans-serif;
}

.input-container>input:focus {
  outline: 0;
}

.input-container label {
  position: absolute;
  z-index: 2;
  left: 0.8rem;
  bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  cursor: text;
}

.input-container .password-icon-wrap {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0.5rem;
}

.input-container .icon {
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 0.8rem;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.80);
}

.input-container>input:focus~label,
.input-container>input.filled~label {
  display: none;
}

.password-hint {
  font-size: 1.2rem;
  padding: 0.2rem 0;
  margin-bottom: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}

.input-container:focus-within+.password-hint {
  visibility: visible;
}

.email {
  font-family: 'Fira Sans';
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--orange);
}

.email-section>.subsection-title {
  margin-bottom: 1rem;
}

.social-wrap {
  display: flex;
  max-width: min-content;
  gap: 32px;
  margin: 0 auto;
}

.social-btn {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 24px;
  color: var(--orange);
  font-size: 5rem;
}

footer {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.80)
}

.footer-container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

@media (min-width: 640px) {
  .container {
    margin: 0 auto;
  }

  .section-title {
    margin: 0 0 4rem 0;
    font-size: 4rem;
  }

  /* Hero section */
  .greeting {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
  }

  .introduction {
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  /* Project section */
  .project-section,
  .contact-section {
    margin: 0 4.2rem;
  }

  .project-title {
    font-size: 3.2rem;
  }
  
  .project-description {
    font-size: 1.6rem;
  } 

  /* Contact section */
  .social-wrap {
    margin: 0;
  }
}

@media (min-width: 760px) {
  .side-menu {
    display: block;
  }
}

@media (min-width: 1024px) {
  .container-hero {
    margin: 0 auto;
  }

  .introduction {
    font-size: 4.8rem;
  }
}